<h1><%=@listing.title %></h1>
 <p>Description: <%= @listing.body %></p>
 <p>Category: <%= @listing.find_category %></p>
 <p>User: <%= @listing.find_user.name %></p>
 <p>Contact Info: <%= @listing.find_user.email %></p>
 

<h2>Comments</h2>
